<a id='mkd-back-to-top' href='#'>
    <span class="mkd-icon-stack">
        <span aria-hidden="true" class="mkd-icon-font-elegant arrow_carrot-2up "></span>
    </span>
    <span class="mkd-icon-stack-flip">
        <span aria-hidden="true" class="mkd-icon-font-elegant arrow_carrot-2up "></span>
    </span>
</a>
